<h1>Form dell'eroe</h1>

<form #mioForm="ngForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nome">Nome</label>
    <input [(ngModel)]="hero.name" #nome="ngModel" id="nome" class="form-control" name="nome" type="text" minlength="5" required>
    <!-- <div [hidden]="nome.valid || nome.pristine" class="alert alert-danger">
      Errore di validazione
    </div> -->
    <div class="alert alert-danger" *ngIf="nome.invalid && (nome.dirty || nome.touched)"  >
      <div *ngIf="nome && nome && nome.errors && nome.errors['required']">Il nome è obbligatorio</div>
      <div *ngIf="nome && nome && nome.errors && nome.errors['minlength']">La lunghezza minima è 5</div>
    </div>
  </div>

  <div class="form-group">
    <label for="alter">Alter-Ego</label>
    <input [(ngModel)]="hero.alterEgo" id="alter" class="form-control" name="alter" type="text">
  </div>

  <div class="form-group">
    <label for="power">Super Potere</label>
    <select [(ngModel)]="hero.power" class="form-control" id="power" name="power">
        <option *ngFor="let p of powers" [value]="p">{{p}}</option>
    </select>
  </div>



  <button type="submit" [disabled]="mioForm.invalid" class="btn btn-success" style="margin-top: 10px">OK</button>

</form>
